<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title></title>
</head>
<body>    
    <header class="container">
        <img class="img" src="image\01.jpg" alt="header image">
    </header>
    <section class="picture2">
        <img class="img bigbox" src="image\picture2\bigbox.jpg" alt="">
        <div class="img mobile_box">            
            <img class="box-img" style="padding-top: 0%!important;" src="image\picture2\box1.jpg" alt="">
            <img class="box-img" src="image\picture2\box2.jpg" alt="">
            <img class="box-img" src="image\picture2\box3.jpg" alt="">
            <img class="box-img" src="image\picture2\box4.jpg" alt="">
            <img class="box-img" src="image\picture2\box5.jpg" alt="">
            <img class="box-img" src="image\picture2\box6.jpg" alt="">
        </div>
        <div class=" reference">
            <p class="reference_letter">※個人の感想であり使用感には個人差があります。</p>
            <p class="reference_letter" style="padding-bottom: 13px;">※効果を保証するものではありません。</p>
        </div>
        <img class="img smallbox" src="image\picture2\bigbox2.jpg" alt="">
        <div class="img" style="padding-bottom: 5%;">
            <button class="button" >今すぐ試してみる&nbsp;&nbsp;<span>></span></button>
        </div>
        <div class="img reference_title" >
            <p >365日返金保証。<br>定期コースはいつでも解約 OK。</p>            
        </div>
        <img class="img" src="image\picture2\horizontal_bar.jpg" alt="">
        <div class="reference1">
            <p>※お1人様1個限りです。<br>
            ※定期コースは1回から解約可能です。実感していただくために3回以上の継続 利用をおすすめしております。<br>
            ※リアルオールインワン60gの2回目以降は20%OFFの3,980円(税抜)でお届け いたします。</p>
        </div>
    </section>
    <section class="picture3">
        <img class="img" src="image\picture3\picture301.jpg" alt="">
        <div class="picture3_p_wraper">
            <p style="margin: 0%; padding: 2% 3%;">多くのオールインワンゲルは、水分が中心でできていま す。もちろん油分も含まれていますが、通常のスキンケ アでクリームを塗ったときのような、肌をしっかりカバ 一できるほどの油分は入っていません。なのですぐに肌 が乾燥してしまうのです。また、少しでも保湿力を高め ようとすると独特のベタベタしたテクスチャになってし まうのです。</p>
        </div>
        <img class="img" src="image\picture3\302.jpg" alt="">

    </section>
    <section class="picture4">
        <img class="img" src="image\picture4.jpg" alt="">
        <div class="img picture465">
            <img style="width: 80%;" src="image\picture4\header_letter1.png" alt="">
            <div class="img">
            <p class="picture465_subheader">肌が求める潤いと栄養をきちんと届け、<br> じっくり浸透していきます。</p></div>
            <img style="width: 98%;" class="img" src="image\picture4\picture4_horizontal_bar.png" alt="">
            <div class=" description_container grid-container">
                <div class = "small_img gird-item" >
                    <img  src="image\picture4\picture401.png" alt="">
                </div>
                <div class="small_des gird-item">
                    <p>赤色の秘密は、純金ナノコロイド</p>
                    <p>ジェルが赤みを帯びて見えるのはナノ単位に微細化した純金がたっぷり配合されている証。角質層に深く浸透し、肌を活性化させて保湿力を高め、ハリへ導きます。</p>
                </div>
            </div>
            <div class="img description_container grid-container medium_container">               
                <div class="small_des gird-item">
                    <p>温泉水と美容成分を惜しみなく 配合</p>
                    <p>美人の湯で有名な「湯原温泉（岡山）の温泉水」をべース に70種以上の美肌・美容成分を贅沢に配合。肌に必要な潤いと栄養を与え、キメの整った若々しい肌へ導きます。</p>
                </div>
                <div class = "small_img gird-item" >
                    <img  src="image\picture4\picture402.png" alt="">
                </div>
            </div>
            <div style="display: none;" class="img description_container grid-container mobile_medium_container">               
                <div class = "small_img gird-item" >
                    <img  src="image\picture4\picture402.png" alt="">
                </div>
                <div class="small_des gird-item">
                    <p>温泉水と美容成分を惜しみなく 配合</p>
                    <p>美人の湯で有名な「湯原温泉（岡山）の温泉水」をべース に70種以上の美肌・美容成分を贅沢に配合。肌に必要な潤いと栄養を与え、キメの整った若々しい肌へ導きます。</p>
                </div>                
            </div>
            <div class="img description_container grid-container">
                <div class = "small_img gird-item" >
                    <img src="image\picture4\picture403.png" alt="">
                </div>
                <div class="small_des gird-item">
                    <p>弾力あるジェルが隙間なく密着して浸透</p>
                    <p>もっちり弾力ある、あえて少し硬めのテクスチャにより、豊富な美容成分が肌に隙間なく密着し、角質層までじっくり浸透。しぼんだ肌を潤し、もっちりとしたぷるぷる肌を保持します。</p>
                </div>
            </div>
            <div class="img" style="padding-bottom: 5%;">
                <button class="button1 pc_button" >赤ジェルに配合されたすべての<br>美容成分はこちら
                    <img class="arrow" src="image\picture4\arrow.png" alt="">
                </button>
                <button class="button1 mobile_button" >赤ジェルに配合されたす<br>べての美容成分はこちら
                    <img class="arrow" src="image\picture4\arrow.png" alt="">
                </button>
            </div>

        </div>
        <img class="img background_bottom" src="image\picture5\background_bottom.png" alt="">
        <div class="img picture460">
            <img class="img"  src="image\picture5\picture5_header.png" alt="">
            <div class="img" >
                <p class="picture465_subheader">補う・守る・整える機能を備え<br> 肌表面に心地よくとけ込んでいきます。</p>
            </div>
            <img  class="img" style="width: 98%;" src="image\picture4\picture4_horizontal_bar.png" alt="">
            <div class="img description_container grid-container">
                <div class = "small_img gird-item" >
                    <img src="image\picture5\picture501.png" alt="">
                </div>
                <div class="small_des gird-item">
                    <p>年齢肌をしっかり補う、 5種のコラーゲン配合</p>
                    <p>ハリや弾力の代表的な美容成分コラーゲンのうち、角質層に浸透して潤すタイプと肌表面にとどまり潤いをキープするタイプを5 種類配合。内と外 からハリ肌へ導きます。
                    </p>
                </div>
            </div>
            <div class="img description_container grid-container medium_container">               
                <div class="small_des gird-item">
                    <p>贅沢な美容成分でキメの整った潤いあふれる肌へ</p>
                    <p>エイジングの鍵を握るとも言われているレスべラトロールなど65種類の美容成分がハリと潤いのある肌へと導き ます。</p>
                </div>
                <div class = "small_img gird-item" >
                    <img  src="image\picture5\picture502.png" alt="">
                </div>
            </div>
            <div style="display: none;" class="img description_container grid-container mobile_medium_container">               
                <div class = "small_img gird-item" >
                    <img  src="image\picture5\picture502.png" alt="">
                </div>
                <div class="small_des gird-item">
                    <p>贅沢な美容成分でキメの整った潤いあふれる肌へ</p>
                    <p>エイジングの鍵を握るとも言われているレスべラトロールなど65種類の美容成分がハリと潤いのある肌へと導き ます。</p>
                </div>                
            </div>
            <div class="img description_container grid-container">
                <div class = "small_img gird-item" >
                    <img  src="image\picture5\picture503.png" alt="">
                </div>
                <div class="small_des gird-item">
                    <p>与えた潤いと栄養を守り、お肌を保護</p>
                    <p>スクワランやアルガンオイルなどの天然植物・果実油脂成分を配合。なめらかな肌に導き、また肌表面に薄い保護膜をはり、与えた潤いと栄養をとどめたり、乾燥などの外部刺激から肌を守ります。</p>
                </div>
            </div>
            <div class="img" style="padding-bottom: 5%;">
                <button class="button1 pc_button" >白クリームに配合されたすべての<br>美容成分はこちら
                    <img class="arrow" src="image\picture4\arrow.png" alt="">
                </button>
                <button class="button1 mobile_button" >白クリームに配合されたす<br>べての美容成分はこちら
                    <img class="arrow" src="image\picture4\arrow.png" alt="">
                </button>
            </div>

        </div>
        <img class="img background_bottom" src="image\picture5\background_bottom.png" alt="">
        <div class="img picture4_bottom">
            <div class="img" style="padding-bottom: 5%;">
                <button class="button1 third_button pc_button" >赤ジェル・白クリーム共通の<br>5種成分はこちら
                    <img class="arrow" src="image\picture4\arrow.png" alt="">
                </button>
                <button class="button1 third_button mobile_button" >赤ジェル・白クリーム共<br>通の5種成分はこちら
                    <img class="arrow" src="image\picture4\arrow.png" alt="">
                </button>
            </div>
            <p  >グリセリン・尿素・BG・トコフェロール・ブドウ葉エキス</p>
        </div>
        <img class="img background_bottom" style="margin-bottom: 0px!important;" src="image\picture5\background_bottom.png" alt="">

    </section>
    <section class="picture5">
        <img class="img" src="image\picture6\picture6_top.jpg" alt="">
        <div class=" reference">
            <p class="reference_letter">※すべての方にアレルギー反応が起こらないわけではありません。</p>            
        </div>
        <img class="img" style="margin-bottom: 20px;" src="image\picture6\picture6_middle.jpg" alt="">
        <div class="img" style="padding-bottom: 5%;">
            <button class="button" >今すぐ試してみる&nbsp;&nbsp;<span>></span></button>
        </div>
        <div class="img reference_title" >
            <p >365日返金保証。<br>定期コースはいつでも解約 OK。</p>            
        </div>
        <img class="img" src="image\picture2\horizontal_bar.jpg" alt="">
        <div class="reference1">
            <p>※お1人様1個限りです。<br>
            ※定期コースは1回から解約可能です。実感していただくために3回以上の継続 利用をおすすめしております。<br>
            ※リアルオールインワン60gの2回目以降は20%OFFの3,980円(税抜)でお届け いたします。</p>
        </div>
        <img class="img" src="image\picture6\picture6_bottom.jpg" alt="">
    </section>
    <section>
        <img class="img" src="image\06.jpg" alt="">
    </section>
    <section class="picture7">
        <div class="picture7_header">
            <h2 class="picture7_header_content">「輝きとハリのある毎日に感動!」<br> 喜びの声、続々</h2>
        </div>
        <img class="img" src="image\picture7\picture701.jpg" alt="">
        <div class="picture7_content">
            <p>シャルーヌ一番人気のリアルオールインワン、この綺麗なルビー色のジェルがお気に入りです。ジェルの中には白いクリーム見た目もすごく素敵！見た目だけではなく、130種類の美容成分を配合でしっかり潤いもキープ!!オールインワンなので、忙しい毎日に嬉しいコスメです。</p>
        </div>
        <img class="img" src="image\picture7\picture702.jpg" alt="">
        <div class="picture7_content">
            <p>まず色に驚く！中は赤いジェルと真ん中に白いクリーム。
                ジェルとクリームを一緒にすくって使います、本日は休日、1日大掃除でほこりを浴びてました！お庭や窓拭きの外掃除も！乾燥の状況で過ごしましたが、もちもちプルプル♡♡いつもなら夕方には、どんよりしますが、夜になってもイキイキしてる！</p>
        </div>
        <img class="img" src="image\picture7\picture703.jpg" alt="">
        <div class="picture7_content">
            <p>オールインワン化粧品と言うと忙しい朝や疲れた日にも１つのオールインワン化粧品で完了する優れ物ですね。でも、<br>
                ◎保湿力が弱い<br>
                ◎何か物足りなさが有る<br>
                ◎エイジングケアには不十分<br>
                私も冬の寒さと暖房で毎日お肌が乾燥するこの時期に何か物足りなさを感じます。でも、このリアルオールインワン化粧品は水溶性で与えた潤いを油溶性の膜で封じ込める。お肌には水と油が両方が必要、瓶の中でピンクと白の綺麗な2層構造になって見た目にも美しくテンション上がりますよね〜！<br>
                ◎赤のジェル<br>
                純金ナノコロイド.馬プラセンタ.アスタキサンチン .白金ナノコロイド．温泉水などを配合した赤ジェル<br>
                ◎油分（白クリーム）<br>
                スクワラン.シルクセラミド.植物オイルレスベラトールなどを配合した白クリーム<br>
                【大人の女性の望みをかなえる化粧品】<br>
                頼もしい130種の美容成分が大人の女性を応援してくれます。綺麗で潤いに満ちた大人の女性は心も豊か。使ってみて実感しました。</p>
        </div>
        <div class=" reference picture7_reference">
            <p class="reference_letter picture7_reference_letter">※個人の感想であり使用感には個人差があります。</p>
            <p class="reference_letter picture7_reference_letter" style="padding-bottom: 13px;">※効果を保証するものではありません。</p>
        </div>
        <img class="img" src="image\picture7\picture704.jpg" alt="">
        <div class="qa_wraper">
        <div class=" qa" style="margin-top: 3%;">
            <div  class="q" id="q0">
                <h3 ><span class="bold_letter">Q:</span>ジェルとクリームの1回の使用量は？</h3>
                <img style="float: right;" class="plus" id="plus0" src="image\icons\plus_icon.png" alt="">
                <img style="float: right; display: none;" class="minus" id="minus0" src="image\icons\minus_icon.png" alt="">
            </div>
            
            <div class="a" id="a0">
                <h4><span class="bold_letter">A:</span>ジェルは直径1～2cm、クリームは直径0.5～1cm程度、ジェルとクリームを2：1のバランスでお使いいただくのがおすすめです。</h4>
            </div>
        </div>
        <div class=" qa" >
            <div  class="q" id="q1">
                <h3 ><span class="bold_letter">Q:</span>べタついたりしませんか?</h3>
                <img style="float: right;" class="plus" id="plus1" src="image\icons\plus_icon.png" alt="">
                <img style="float: right; display: none;" class="minus" id="minus1" src="image\icons\minus_icon.png" alt="">
            </div>
            
            <div class="a" id="a1">
                <h4><span class="bold_letter">A:</span>ジェルは弾力のあるテクスチャーのため、塗った直後はベタつくように感じるかもしれませんが、しばらくするとじんわりと肌になじんでいきます。</h4>
            </div>
        </div>
        <div class=" qa" >
            <div  class="q"  id="q2">
                <h3><span class="bold_letter">Q:</span>内容量はどのくらいですか？</h3>
                <img style="float: right;" class="plus" id="plus2" src="image\icons\plus_icon.png" alt="">
                <img style="float: right; display: none;" class="minus" id="minus2" src="image\icons\minus_icon.png" alt="">
            </div>
            
            <div class="a" id="a2">
                <h4><span class="bold_letter">A:</span>1個60g、1日2回使用で約1～1.5ヶ月分です。</h4>
            </div>
        </div>
        <div class=" qa" >
            <div  class="q"  id="q3">
                <h3><span class="bold_letter">Q:</span>定期コースはいつでも変更や解約ができますか？</h3>
                <img style="float: right;" class="plus" id="plus3" src="image\icons\plus_icon.png" alt="">
                <img style="float: right; display: none;" class="minus" id="minus3" src="image\icons\minus_icon.png" alt="">
            </div>
            
            <div class="a">
                <h4><span class="bold_letter">A:</span>はい。次回お届け予定日の10日前までにお手続きください。ご都合に合わせて、次回お届け日やサイクルの変更、個数の変更なども可能です。</h4>
            </div>
        </div>
        </div>  

        <img class="img" src="image\picture7\picture705.jpg" alt="">
        <img class="img" src="image\picture7\picture706.jpg" alt="">
    </section>
    <script>
        $(document).ready(function(){
            
          $(".qa:nth-child(1) > .q >.plus").click(function(){
            $(".qa:nth-child(1) > .q >.plus").css("display", "none");
            $(".qa:nth-child(1) > .q").css("border-bottom", "3px solid #c1c1c1");
            $(".qa:nth-child(1) > .q > .minus").css("display", "block");
            $(".qa:nth-child(1) > .a").slideToggle();
          });
          $(".qa:nth-child(1) > .q >.minus").click(function(){
            $(".qa:nth-child(1) > .q >.plus").css("display", "block");
            $(".qa:nth-child(1) > .q").css("border-bottom", "none");
            $(".qa:nth-child(1) > .q > .minus").css("display", "none");
            $(".qa:nth-child(1) > .a").slideToggle();
          });
          $(".qa:nth-child(2) > .q >.plus").click(function(){
            $(".qa:nth-child(2) > .q >.plus").css("display", "none");
            $(".qa:nth-child(2) > .q").css("border-bottom", "3px solid #c1c1c1");
            $(".qa:nth-child(2) > .q > .minus").css("display", "block");
            $(".qa:nth-child(2) > .a").slideToggle();
          });
          $(".qa:nth-child(2) > .q >.minus").click(function(){
            $(".qa:nth-child(2) > .q >.plus").css("display", "block");
            $(".qa:nth-child(2) > .q").css("border-bottom", "none");
            $(".qa:nth-child(2) > .q > .minus").css("display", "none");
            $(".qa:nth-child(2) > .a").slideToggle();
          });
          $(".qa:nth-child(3) > .q >.plus").click(function(){
            $(".qa:nth-child(3) > .q >.plus").css("display", "none");
            $(".qa:nth-child(3) > .q").css("border-bottom", "3px solid #c1c1c1");
            $(".qa:nth-child(3) > .q > .minus").css("display", "block");
            $(".qa:nth-child(3) > .a").slideToggle();
          });
          $(".qa:nth-child(3) > .q >.minus").click(function(){
            $(".qa:nth-child(3) > .q >.plus").css("display", "block");
            $(".qa:nth-child(3) > .q").css("border-bottom", "none");
            $(".qa:nth-child(3) > .q > .minus").css("display", "none");
            $(".qa:nth-child(3) > .a").slideToggle();
          });
          $(".qa:nth-child(4) > .q >.plus").click(function(){
            $(".qa:nth-child(4) > .q >.plus").css("display", "none");
            $(".qa:nth-child(4) > .q").css("border-bottom", "3px solid #c1c1c1");
            $(".qa:nth-child(4) > .q > .minus").css("display", "block");
            $(".qa:nth-child(4) > .a").slideToggle();
          });
          $(".qa:nth-child(4) > .q >.minus").click(function(){
            $(".qa:nth-child(4) > .q >.plus").css("display", "block");
            $(".qa:nth-child(4) > .q").css("border-bottom", "none");
            $(".qa:nth-child(4) > .q > .minus").css("display", "none");
            $(".qa:nth-child(4) > .a").slideToggle();
          });
          
          
        });
    </script>
</body>
</html>